.layout-grid {
    display: grid;
    grid-template-columns: 1fr;
     grid-template-rows:100px 1fr;
     grid-template-areas: 
    'headerLayout'
    'mainLayout';
    @include desktop{
        grid-template-rows: 1fr;
        grid-template-areas:
        'mainLayout'
    }
    
    min-height: 100vh;
}

.main{
    grid-area: mainLayout;
}

.header{
    grid-area: headerLayout;
}